<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div style="border: 1px solid black; width: 25%; margin: auto; margin-top: 50px;">
    <h1 style="text-align: center; ">
        Students Details
    </h1>
    <div style="text-align: center;">
   <p>Student Name: {{stu_data.name}}</p>
   <p>Roll no: {{stu_data.roll_no}}</p>
   <p>Department: {{stu_data.department}}</p>
   <p>Email: {{stu_data.email}}</p>
    <p>Marks: {{stu_data.marks}}</p>

   </div>
</div>    
</body>
</html>